body {
}


#datepicker
    {
        display: block;
        margin: auto;
        margin-top: 2em;
        text-align: center;
        width: 80%;
    }

#info
    {
        margin-top: 2em;
        text-align: center;
    }